# Mac OS X
.DS_Store

# vscode editor
.vscode/settings.json

# vim modified directories history
.vim/.netrwhist
.vim/plugged/*

# vscode config
vscode/User/globalStorage/
vscode/User/globalStorage/
vscode/User/snippets
vscode/User/workspaceStorage

# private configs
.private.config.sh

# configs in darwin
.config/configstore
.config/copyq

# zsh
.zsh/.zcompdump