[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = code --wait
[user]
	name = Truong Ma Phi
	email = trmaphi@gmail.com
	signingkey = 436B20EA6D40C2E2
[pull]
	rebase = false
[init]
	defaultBranch = master
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
