# Mac OS X
.DS_Store

# vscode editor
.vscode/settings.json

# vim modified directories history
.vim/.netrwhist
.vim/plugged/*

# vscode config
vscode/User/globalStorage/
vscode/User/globalStorage/
vscode/User/snippets
vscode/User/workspaceStorage

# ignore private configs
.private.config.sh
